@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap");

body {
  background-color: #ffffff;
  min-width: 450px;
  padding: 10px;
  font-family: Montserrat, sans-serif;
}

h1,
h2 {
  font-size: 18px;
  font-weight: bold;
}

/*  ===============================
    Custom Review Component Styles
    =============================== */

#projectList,
#reviewList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap:10px;
}

.review-component {
  display: inline-flex;
  align-items: center;
}

.review-header {
  display: inline-flex;
  align-items: center;
  background-color: #003366;
  padding-left: 0.75rem;
  border-radius: 10px;
}

.review-title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.review-badge {
  background-color: #006666;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.25rem;
}

.review-component .badge-inner {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

/* ===============================
          Card Container
   =============================== */

#card-container {
  background-color: #f3f3f3;
  display: flex; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
}

